In [44]:
import pandas as pd
from pymongo import MongoClient
import re
import numpy as np

In [45]:
client = MongoClient("mongodb://localhost:27017/")

In [46]:
db = client.companies

In [47]:
companies = db.companies.find()

In [48]:
data_companies = pd.DataFrame(companies)

In [49]:
data_companies.head(3)

,_id,name,permalink,crunchbase_url,homepage_url,blog_url,blog_feed_url,twitter_username,category_code,number_of_employees,...,video_embeds,screenshots,external_links,partners,founded_month,founded_day,deadpooled_month,deadpooled_day,deadpooled_url,ipo
0,52cdef7c4bab8bd675297d8b,AdventNet,abc3,http://www.crunchbase.com/company/adventnet,http://adventnet.com,,,manageengine,enterprise,600.0,...,[],"[{'available_sizes': [[[150, 94], 'assets/imag...",[],[],NaN,NaN,NaN,NaN,NaN,NaN
1,52cdef7c4bab8bd675297d8c,Zoho,abc4,http://www.crunchbase.com/company/zoho,http://zoho.com,http://blogs.zoho.com/,http://blogs.zoho.com/feed,zoho,software,1600.0,...,"[{'embed_code': '<object width=""430"" height=""2...",[],[{'external_url': 'http://www.online-tech-tips...,[],9.0,15.0,NaN,NaN,NaN,NaN
2,52cdef7c4bab8bd675297d8a,Wetpaint,abc2,http://www.crunchbase.com/company/wetpaint,http://wetpaint-inc.com,http://digitalquarters.net/,http://digitalquarters.net/feed/,BachelrWetpaint,web,47.0,...,[],"[{'available_sizes': [[[150, 86], 'assets/imag...",[{'external_url': 'http://www.geekwire.com/201...,[],10.0,17.0,NaN,NaN,NaN,NaN

In [50]:
data_companies.columns

Index(['_id', 'name', 'permalink', 'crunchbase_url', 'homepage_url',
       'blog_url', 'blog_feed_url', 'twitter_username', 'category_code',
       'number_of_employees', 'founded_year', 'deadpooled_year', 'tag_list',
       'alias_list', 'email_address', 'phone_number', 'description',
       'created_at', 'updated_at', 'overview', 'image', 'products',
       'relationships', 'competitions', 'providerships', 'total_money_raised',
       'funding_rounds', 'investments', 'acquisition', 'acquisitions',
       'offices', 'milestones', 'video_embeds', 'screenshots',
       'external_links', 'partners', 'founded_month', 'founded_day',
       'deadpooled_month', 'deadpooled_day', 'deadpooled_url', 'ipo'],
      dtype='object')

In [51]:
data_companies.shape

(18801, 42)

In [52]:
data_companies.count

<bound method DataFrame.count of                             _id                 name            permalink  \
0      52cdef7c4bab8bd675297d8b            AdventNet                 abc3
1      52cdef7c4bab8bd675297d8c                 Zoho                 abc4
2      52cdef7c4bab8bd675297d8a             Wetpaint                 abc2
3      52cdef7c4bab8bd675297d8f            Omnidrive            omnidrive
4      52cdef7c4bab8bd675297d92              Flektor              flektor
...                         ...                  ...                  ...
18796  52cdef7f4bab8bd67529c6f9  EnteGreat Solutions  entegreat-solutions
18797  52cdef7f4bab8bd67529c6f8          goBookmaker          gobookmaker
18798  52cdef7f4bab8bd67529c6f7           AfterLogic           afterlogic
18799  52cdef7f4bab8bd67529c6f5               Oriact               oriact
18800  52cdef7f4bab8bd67529c6fa            EnteGreat            entegreat

                                          crunchbase_url  \
0            http://www.crunchbase.com/company/adventnet
1                 http://www.crunchbase.com/company/zoho
2             http://www.crunchbase.com/company/wetpaint
3            http://www.crunchbase.com/company/omnidrive
4              http://www.crunchbase.com/company/flektor
...                                                  ...
18796  http://www.crunchbase.com/company/entegreat-so...
18797      http://www.crunchbase.com/company/gobookmaker
18798       http://www.crunchbase.com/company/afterlogic
18799           http://www.crunchbase.com/company/oriact
18800        http://www.crunchbase.com/company/entegreat

                     homepage_url                       blog_url  \
0            http://adventnet.com
1                 http://zoho.com         http://blogs.zoho.com/
2         http://wetpaint-inc.com    http://digitalquarters.net/
3        http://www.omnidrive.com  http://www.omnidrive.com/blog
4          http://www.flektor.com    http://www.flektor-blog.com
...                           ...                            ...
18796
18797  http://www.gobookmaker.com    http://blog.gobookmaker.com
18798   http://www.afterlogic.com
18799       http://www.oriact.com
18800    http://www.entegreat.com

                                           blog_feed_url twitter_username  \
0                                                            manageengine
1                             http://blogs.zoho.com/feed             zoho
2                       http://digitalquarters.net/feed/  BachelrWetpaint
3                  http://feeds.feedburner.com/omnidrive         Nomadesk
4      http://www.flektor-blog.com/video_editing_soft...             None
...                                                  ...              ...
18796
18797                                                         gobookmaker
18798                                                          afterlogic
18799
18800

         category_code  number_of_employees  ...  \
0           enterprise                600.0  ...
1             software               1600.0  ...
2                  web                 47.0  ...
3      network_hosting                  NaN  ...
4          games_video                  NaN  ...
...                ...                  ...  ...
18796         software                  NaN  ...
18797              web                  NaN  ...
18798         software                  NaN  ...
18799         software                  NaN  ...
18800       enterprise                  NaN  ...

                                            video_embeds  \
0                                                     []
1      [{'embed_code': '<object width="430" height="2...
2                                                     []
3                                                     []
4                                                     []
...                                                  ...
18796                                                 []
18797                                                 []
18798                                                 []
18799                                                 []
18800                                                 []

                                             screenshots  \
0      [{'available_sizes': [[[150, 94], 'assets/imag...
1                                                     []
2      [{'available_sizes': [[[150, 86], 'assets/imag...
3                                                     []
4                                                     []
...                                                  ...
18796                                                 []
18797  [{'available_sizes': [[[150, 80], 'assets/imag...
18798  [{'available_sizes': [[[150, 137], 'assets/ima...
18799                                                 []
18800                                                 []

                                          external_links partners  \
0                                                     []       []
1      [{'external_url': 'http://www.online-tech-tips...       []
2      [{'external_url': 'http://www.geekwire.com/201...       []
3                                                     []       []
4                                                     []       []
...                                                  ...      ...
18796                                                 []       []
18797                                                 []       []
18798                                                 []       []
18799  [{'external_url': 'http://origo.ethz.ch', 'tit...       []
18800                                                 []       []

      founded_month founded_day deadpooled_month deadpooled_day  \
0               NaN         NaN              NaN            NaN
1               9.0        15.0              NaN            NaN
2              10.0        17.0              NaN            NaN
3              11.0         1.0              9.0           15.0
4               NaN         NaN              NaN            NaN
...             ...         ...              ...            ...
18796           NaN         NaN              NaN            NaN
18797           NaN         NaN              NaN            NaN
18798           NaN         NaN              NaN            NaN
18799           4.0         3.0              NaN            NaN
18800           NaN         NaN              NaN            NaN

      deadpooled_url   ipo
0                NaN   NaN
1                NaN   NaN
2                NaN   NaN
3                     None
4               None  None
...              ...   ...
18796           None  None
18797           None  None
18798           None  None
18799           None  None
18800           None  None

[18801 rows x 42 columns]>

In [53]:
data_companies.describe()

,number_of_employees,founded_year,deadpooled_year,founded_month,founded_day,deadpooled_month,deadpooled_day
count,8889.000000,13136.000000,929.000000,7898.000000,5569.000000,765.000000,648.000000
mean,795.617955,2002.444123,2003.964478,5.786148,8.732447,6.274510,14.902778
std,11070.012361,13.010455,114.037359,3.545322,9.356441,3.380022,9.538734
min,0.000000,1800.000000,1.000000,1.000000,1.000000,1.000000,1.000000
25%,3.000000,2001.000000,2009.000000,3.000000,1.000000,3.000000,6.000000
50%,10.000000,2006.000000,2011.000000,6.000000,4.000000,6.000000,15.000000
75%,32.000000,2008.000000,2012.000000,9.000000,15.000000,9.000000,23.000000
max,405000.000000,2013.000000,2014.000000,12.000000,31.000000,12.000000,31.000000

In [54]:
data_companies['category_code'].value_counts()

web                 3787
software            2736
games_video         1083
mobile              1018
other                986
advertising          928
enterprise           742
ecommerce            688
consulting           637
network_hosting      626
public_relations     533
search               394
biotech              373
hardware             368
cleantech            305
semiconductor        167
security             156
analytics             66
social                49
finance               49
news                  48
education             36
music                 33
messaging             30
medical               25
travel                25
legal                 25
health                23
photo_video           23
manufacturing         19
sports                13
fashion               10
real_estate           10
automotive             9
hospitality            8
transportation         7
nanotech               5
nonprofit              4
design                 4
local                  1
government             1
Name: category_code, dtype: int64

In [55]:
#{category_code: 'games_video', number_of_employees: {$gt: 100}

#gaming = db.companies.find({"category_code":'games_video', "number_of_employees":{"$gt":100}})
#gaming = pd.DataFrame(gaming)

#gaming = db.companies.find({
#    "offices":{"$not":{"$size":0}}, "number_of_employees":{"$gte": 100}}
#,{"name":1, "founded_year":1, "offices":1, "category_code":1, "total_money_raised":1, "number_of_employees":1,'description':1})
    

gaming = db.companies.find({"category_code":'games_video', "founded_year": {"$gt":1990}, "number_of_employees": {"$gt": 100}},
 {"name":1, "founded_year":1, "offices":1, "category_code":1, "total_money_raised":1, "number_of_employees":1,'description':1})

In [56]:
office_companies = pd.DataFrame(gaming)
office_companies

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices
0,52cdef7c4bab8bd675297dc1,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr..."
1,52cdef7c4bab8bd675297dc0,Livestream,games_video,120,2007,Live streaming platform and website,$14.7M,"[{'description': 'Livestream HQ', 'address1': ..."
2,52cdef7c4bab8bd675297df0,RockYou,games_video,106,2005,Social Gaming Company,$136M,"[{'description': '', 'address1': '585 Broadway..."
3,52cdef7c4bab8bd675297eff,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th..."
4,52cdef7c4bab8bd675297f81,hulu,games_video,153,2007,Online Video Provider,$100M,"[{'description': None, 'address1': '12312 W. O..."
5,52cdef7c4bab8bd6752981e1,Zynga,games_video,115,2007,Network of gaming applications,$860M,"[{'description': 'SF HQ', 'address1': '365 Ver..."
6,52cdef7c4bab8bd6752982a6,GameDuell,games_video,200,2003,Casual Online Games,$17.5M,"[{'description': 'US Headquarters', 'address1'..."
7,52cdef7c4bab8bd675298300,Netflix,games_video,2000,1997,Leading Internet television network,$230M,"[{'description': None, 'address1': '100 Winche..."
8,52cdef7c4bab8bd675298443,Boonty,games_video,150,2001,,$10M,"[{'description': None, 'address1': '54 Frankli..."
9,52cdef7c4bab8bd67529868c,Realtime Worlds,games_video,225,2002,"Entertainment software, Videogames",$82.8M,"[{'description': None, 'address1': '', 'addres..."
10,52cdef7d4bab8bd6752988ac,Modern Feed,games_video,123,2007,None,$3M,"[{'description': None, 'address1': '818 N. La ..."
11,52cdef7d4bab8bd67529893c,Kabam,games_video,650,2006,Leader in Gaming,$125M,"[{'description': 'HQ', 'address1': '795 Folsom..."
12,52cdef7d4bab8bd675298bbe,iWin,games_video,103,2001,,$0,"[{'description': '', 'address1': '45 Fremont S..."
13,52cdef7d4bab8bd675298caf,CCP Games,games_video,360,1997,,$36.3M,"[{'description': 'Headquarters', 'address1': '..."
14,52cdef7d4bab8bd675298d8b,Vostu,games_video,550,2007,Social and Casual Games,$48.7M,"[{'description': '', 'address1': '999 Juana Ma..."
15,52cdef7d4bab8bd675299421,ngmoco,games_video,150,2008,Games for the iPhone,$44.8M,"[{'description': 'Secret Factory', 'address1':..."
16,52cdef7d4bab8bd67529959e,DeNA,games_video,2192,1999,Mobile Internet,¥2.21B,"[{'description': 'Headquarters', 'address1': '..."
17,52cdef7d4bab8bd675299928,DeNA,games_video,2192,1999,Mobile Internet,¥2.21B,"[{'description': 'Headquarters', 'address1': '..."
18,52cdef7d4bab8bd675299f54,PlayNetwork,games_video,122,1996,,$0,[]
19,52cdef7d4bab8bd67529a0f9,Indiagames,games_video,300,2000,Multi-platform games company,$0,"[{'description': 'Headquarters', 'address1': '..."
20,52cdef7d4bab8bd67529a23f,SPIL GAMES,games_video,300,2004,Online Gaming Portal,$0,"[{'description': 'SPIL GAMES Headquarters', 'a..."
21,52cdef7e4bab8bd67529a3c6,Miniclip,games_video,140,2001,Online and mobile games,$0,"[{'description': '', 'address1': '', 'address2..."
22,52cdef7e4bab8bd67529a8b4,GREE,games_video,700,2004,"Internet media business,SNS, free game",¥464M,"[{'description': 'Headquarters', 'address1': '..."
23,52cdef7e4bab8bd67529a8b8,RGB Networks,games_video,125,2003,network video processing solutions,$52M,"[{'description': 'HQ', 'address1': '390 West J..."
24,52cdef7e4bab8bd67529aedf,i-Jet Media,games_video,150,2005,social games distribution network,$0,"[{'description': '', 'address1': '440 N Wolfe ..."
25,52cdef7e4bab8bd67529b15d,Turtle Entertainment,games_video,175,2000,None,$0,"[{'description': 'Headquarters', 'address1': '..."
26,52cdef7e4bab8bd67529b2da,Unity Technologies,games_video,200,2004,Democratizing interactive 3D,$17.5M,"[{'description': 'US Office', 'address1': '795..."
27,52cdef7e4bab8bd67529b52e,Z2Live,games_video,130,2009,Mobile Games,$6.5M,"[{'description': 'Z2Live', 'address1': '1601 2..."
28,52cdef7e4bab8bd67529b92b,NaturalMotion,games_video,150,2001,A 3D Character Animation Software Compan,$0,"[{'description': 'World Headquarters', 'addres..."
29,52cdef7e4bab8bd67529b958,Aspiro,games_video,115,1998,streaming music and TV,$0,"[{'description': 'HQ', 'address1': 'Grabroders..."
30,52cdef7e4bab8bd67529ba13,Linekong,games_video,600,2007,On-line Game Developer,$40M,"[{'description': 'Corporate Office', 'address1..."
31,52cdef7e4bab8bd67529bcd6,2 Minutes,games_video,105,2000,Animation studio,$1.66M,"[{'description': '', 'address1': '9 rue biscor..."
32,52cdef7f4bab8bd67529be17,888 Holdings,games_video,931,1997,online gaming entertainment company,$0,[]
33,52cdef7f4bab8bd67529c178,Bigpoint,games_video,500,2002,developer and provider of online games,€420M,"[{'description': 'Bigpoint Headquarters', 'add..."
34,52cdef7f4bab8bd67529c5e9,G5 Entertainment,games_video,107,2006,Publisher and developer of mobile games,$0,"[{'description': 'Development Office', 'addres..."

In [57]:
#office_companies['latitude'] = office_companies['offices'][0][0]['latitude']
#office_companies['longitude'] =  office_companies['offices'][0][0]['longitude']

def get_lon(x): 
    try: 
        return float(x['offices'][0]['longitude'])
    except: 
        return None


# office_companies.loc[0,  'offices'][0]['longitude']
office_companies['longitud'] = office_companies.apply(lambda x: get_lon(x), axis=1)

office_companies.head()

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices,longitud
0,52cdef7c4bab8bd675297dc1,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr...",-122.079480
1,52cdef7c4bab8bd675297dc0,Livestream,games_video,120,2007,Live streaming platform and website,$14.7M,"[{'description': 'Livestream HQ', 'address1': ...",-73.995625
2,52cdef7c4bab8bd675297df0,RockYou,games_video,106,2005,Social Gaming Company,$136M,"[{'description': '', 'address1': '585 Broadway...",-122.206893
3,52cdef7c4bab8bd675297eff,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th...",-122.155668
4,52cdef7c4bab8bd675297f81,hulu,games_video,153,2007,Online Video Provider,$100M,"[{'description': None, 'address1': '12312 W. O...",-118.456806

In [58]:
def get_lat(x): 
    try: 
        return float(x['offices'][0]['latitude'])
    except: 
        return None
    
office_companies['latitude'] = office_companies.apply(lambda x: get_lat(x), axis=1)
office_companies

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices,longitud,latitude
0,52cdef7c4bab8bd675297dc1,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr...",-122.079480,37.392936
1,52cdef7c4bab8bd675297dc0,Livestream,games_video,120,2007,Live streaming platform and website,$14.7M,"[{'description': 'Livestream HQ', 'address1': ...",-73.995625,40.726155
2,52cdef7c4bab8bd675297df0,RockYou,games_video,106,2005,Social Gaming Company,$136M,"[{'description': '', 'address1': '585 Broadway...",-122.206893,37.484619
3,52cdef7c4bab8bd675297eff,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th...",-122.155668,47.579208
4,52cdef7c4bab8bd675297f81,hulu,games_video,153,2007,Online Video Provider,$100M,"[{'description': None, 'address1': '12312 W. O...",-118.456806,34.031276
5,52cdef7c4bab8bd6752981e1,Zynga,games_video,115,2007,Network of gaming applications,$860M,"[{'description': 'SF HQ', 'address1': '365 Ver...",-122.404234,37.765158
6,52cdef7c4bab8bd6752982a6,GameDuell,games_video,200,2003,Casual Online Games,$17.5M,"[{'description': 'US Headquarters', 'address1'...",NaN,NaN
7,52cdef7c4bab8bd675298300,Netflix,games_video,2000,1997,Leading Internet television network,$230M,"[{'description': None, 'address1': '100 Winche...",-121.968687,37.251420
8,52cdef7c4bab8bd675298443,Boonty,games_video,150,2001,,$10M,"[{'description': None, 'address1': '54 Frankli...",-74.002662,40.717248
9,52cdef7c4bab8bd67529868c,Realtime Worlds,games_video,225,2002,"Entertainment software, Videogames",$82.8M,"[{'description': None, 'address1': '', 'addres...",-2.968111,56.461428
10,52cdef7d4bab8bd6752988ac,Modern Feed,games_video,123,2007,None,$3M,"[{'description': None, 'address1': '818 N. La ...",-118.343791,34.085749
11,52cdef7d4bab8bd67529893c,Kabam,games_video,650,2006,Leader in Gaming,$125M,"[{'description': 'HQ', 'address1': '795 Folsom...",-122.078531,37.394456
12,52cdef7d4bab8bd675298bbe,iWin,games_video,103,2001,,$0,"[{'description': '', 'address1': '45 Fremont S...",-122.391061,37.781689
13,52cdef7d4bab8bd675298caf,CCP Games,games_video,360,1997,,$36.3M,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN
14,52cdef7d4bab8bd675298d8b,Vostu,games_video,550,2007,Social and Casual Games,$48.7M,"[{'description': '', 'address1': '999 Juana Ma...",NaN,NaN
15,52cdef7d4bab8bd675299421,ngmoco,games_video,150,2008,Games for the iPhone,$44.8M,"[{'description': 'Secret Factory', 'address1':...",-122.401581,37.770510
16,52cdef7d4bab8bd67529959e,DeNA,games_video,2192,1999,Mobile Internet,¥2.21B,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN
17,52cdef7d4bab8bd675299928,DeNA,games_video,2192,1999,Mobile Internet,¥2.21B,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN
18,52cdef7d4bab8bd675299f54,PlayNetwork,games_video,122,1996,,$0,[],NaN,NaN
19,52cdef7d4bab8bd67529a0f9,Indiagames,games_video,300,2000,Multi-platform games company,$0,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN
20,52cdef7d4bab8bd67529a23f,SPIL GAMES,games_video,300,2004,Online Gaming Portal,$0,"[{'description': 'SPIL GAMES Headquarters', 'a...",5.198824,52.220726
21,52cdef7e4bab8bd67529a3c6,Miniclip,games_video,140,2001,Online and mobile games,$0,"[{'description': '', 'address1': '', 'address2...",NaN,NaN
22,52cdef7e4bab8bd67529a8b4,GREE,games_video,700,2004,"Internet media business,SNS, free game",¥464M,"[{'description': 'Headquarters', 'address1': '...",NaN,NaN
23,52cdef7e4bab8bd67529a8b8,RGB Networks,games_video,125,2003,network video processing solutions,$52M,"[{'description': 'HQ', 'address1': '390 West J...",-122.021627,37.412371
24,52cdef7e4bab8bd67529aedf,i-Jet Media,games_video,150,2005,social games distribution network,$0,"[{'description': '', 'address1': '440 N Wolfe ...",-122.012475,37.384239
25,52cdef7e4bab8bd67529b15d,Turtle Entertainment,games_video,175,2000,None,$0,"[{'description': 'Headquarters', 'address1': '...",6.976498,50.927294
26,52cdef7e4bab8bd67529b2da,Unity Technologies,games_video,200,2004,Democratizing interactive 3D,$17.5M,"[{'description': 'US Office', 'address1': '795...",12.530107,55.692461
27,52cdef7e4bab8bd67529b52e,Z2Live,games_video,130,2009,Mobile Games,$6.5M,"[{'description': 'Z2Live', 'address1': '1601 2...",-122.339978,47.610301
28,52cdef7e4bab8bd67529b92b,NaturalMotion,games_video,150,2001,A 3D Character Animation Software Compan,$0,"[{'description': 'World Headquarters', 'addres...",NaN,NaN
29,52cdef7e4bab8bd67529b958,Aspiro,games_video,115,1998,streaming music and TV,$0,"[{'description': 'HQ', 'address1': 'Grabroders...",NaN,NaN
30,52cdef7e4bab8bd67529ba13,Linekong,games_video,600,2007,On-line Game Developer,$40M,"[{'description': 'Corporate Office', 'address1...",NaN,NaN
31,52cdef7e4bab8bd67529bcd6,2 Minutes,games_video,105,2000,Animation studio,$1.66M,"[{'description': '', 'address1': '9 rue biscor...",2.369803,48.850206
32,52cdef7f4bab8bd67529be17,888 Holdings,games_video,931,1997,online gaming entertainment company,$0,[],NaN,NaN
33,52cdef7f4bab8bd67529c178,Bigpoint,games_video,500,2002,developer and provider of online games,€420M,"[{'description': 'Bigpoint Headquarters', 'add...",9.976252,53.597305
34,52cdef7f4bab8bd67529c5e9,G5 Entertainment,games_video,107,2006,Publisher and developer of mobile games,$0,"[{'description': 'Development Office', 'addres...",NaN,NaN

In [59]:
#office_companies['latitud'] = office_companies(lambda row: row['offices'][0]['latitude'], axis=1)
#office_companies['longitud'] = office_companies(lambda row: row['offices'][0]['longitude'], axis=1)
#office_companies['latitude'].replace('', np.nan, inplace=True)
#office_companies['longitud'].replace('', np.nan, inplace=True)
office_companies.dropna(subset=['latitude'], inplace=True)
office_companies.dropna(subset=['longitud'], inplace=True)

In [60]:
office_companies.head()

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices,longitud,latitude
0,52cdef7c4bab8bd675297dc1,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr...",-122.079480,37.392936
1,52cdef7c4bab8bd675297dc0,Livestream,games_video,120,2007,Live streaming platform and website,$14.7M,"[{'description': 'Livestream HQ', 'address1': ...",-73.995625,40.726155
2,52cdef7c4bab8bd675297df0,RockYou,games_video,106,2005,Social Gaming Company,$136M,"[{'description': '', 'address1': '585 Broadway...",-122.206893,37.484619
3,52cdef7c4bab8bd675297eff,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th...",-122.155668,47.579208
4,52cdef7c4bab8bd675297f81,hulu,games_video,153,2007,Online Video Provider,$100M,"[{'description': None, 'address1': '12312 W. O...",-118.456806,34.031276

In [61]:
def createGeoJson(longitude,latitude):
    return {
        "type":"Point",
        "coordinates":[longitude,latitude]
    }

df = pd.DataFrame(office_companies)
df['position'] = df.apply(lambda x: createGeoJson(x["longitud"],x["latitude"]), axis=1)
display(df.head())
df.shape

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices,longitud,latitude,position
0,52cdef7c4bab8bd675297dc1,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr...",-122.079480,37.392936,"{'type': 'Point', 'coordinates': [-122.07948, ..."
1,52cdef7c4bab8bd675297dc0,Livestream,games_video,120,2007,Live streaming platform and website,$14.7M,"[{'description': 'Livestream HQ', 'address1': ...",-73.995625,40.726155,"{'type': 'Point', 'coordinates': [-73.995625, ..."
2,52cdef7c4bab8bd675297df0,RockYou,games_video,106,2005,Social Gaming Company,$136M,"[{'description': '', 'address1': '585 Broadway...",-122.206893,37.484619,"{'type': 'Point', 'coordinates': [-122.206893,..."
3,52cdef7c4bab8bd675297eff,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th...",-122.155668,47.579208,"{'type': 'Point', 'coordinates': [-122.155668,..."
4,52cdef7c4bab8bd675297f81,hulu,games_video,153,2007,Online Video Provider,$100M,"[{'description': None, 'address1': '12312 W. O...",-118.456806,34.031276,"{'type': 'Point', 'coordinates': [-118.456806,..."

(21, 11)

In [62]:
df['position']

0     {'type': 'Point', 'coordinates': [-122.07948, ...
1     {'type': 'Point', 'coordinates': [-73.995625, ...
2     {'type': 'Point', 'coordinates': [-122.206893,...
3     {'type': 'Point', 'coordinates': [-122.155668,...
4     {'type': 'Point', 'coordinates': [-118.456806,...
5     {'type': 'Point', 'coordinates': [-122.404234,...
7     {'type': 'Point', 'coordinates': [-121.968687,...
8     {'type': 'Point', 'coordinates': [-74.002662, ...
9     {'type': 'Point', 'coordinates': [-2.968111, 5...
10    {'type': 'Point', 'coordinates': [-118.343791,...
11    {'type': 'Point', 'coordinates': [-122.0785314...
12    {'type': 'Point', 'coordinates': [-122.391061,...
15    {'type': 'Point', 'coordinates': [-122.4015807...
20    {'type': 'Point', 'coordinates': [5.198824, 52...
23    {'type': 'Point', 'coordinates': [-122.0216271...
24    {'type': 'Point', 'coordinates': [-122.012475,...
25    {'type': 'Point', 'coordinates': [6.9764978, 5...
26    {'type': 'Point', 'coordinates': [12.530107, 5...
27    {'type': 'Point', 'coordinates': [-122.3399782...
31    {'type': 'Point', 'coordinates': [2.3698033, 4...
33    {'type': 'Point', 'coordinates': [9.9762519, 5...
Name: position, dtype: object

In [63]:
df['position'][0]

{'type': 'Point', 'coordinates': [-122.07948, 37.392936]}

In [64]:
df = df.drop('_id', axis=1)

In [65]:
df.to_json(r'./offices.json', orient="records")

In [3]:
client = MongoClient("mongodb://localhost:27017/")

NameError: name 'MongoClient' is not defined

In [73]:
db = client.companies

In [78]:
colletion_companies = db.prueba

In [79]:
query = colletion_companies.find()

In [81]:
data = pd.DataFrame(query)

In [82]:
data.head()

Empty DataFrame
Columns: []
Index: []

In [76]:
def geonear(geopoint, maxdistance=1000):
   return db.prueba.find({
       "position":{
           "$near":{
               "$geometry":geopoint,
               "$maxDistance":maxdistance
           }}})

Empty DataFrame
Columns: []
Index: []

In [2]:
def getofficesNear(lat,long, max_meters=5000):
    return list(db.companies_firstoffice.find({
        "position": {
            "$near": {
               "$geometry": {
                  "type": "Point" ,
                  "coordinates": [ long , lat ]
               },
               "$maxDistance": max_meters
             }
       }
    }))

sf = [-122.07948, 37.392936]
df_filtered = pd.DataFrame(getofficesNear(*sf,5000))
df_filtered

NameError: name 'pd' is not defined

In [24]:
m = df_filtered[["category_code","lat","long","name"]]
m = m.append({
    "category_code":"center",
    "lat":fifth_avenue[0],
    "long":fifth_avenue[1],
    "name":"CENTER"
},ignore_index=True)
display(m)

#m.to_json('filtered_data.json', orient="records")

KeyError: "None of [Index(['category_code', 'lat', 'long', 'name'], dtype='object')] are in the [columns]"

In [ ]:
geonear(test.position, 100000).count()

In [ ]:
#def geopoint(x): 
#    return {"type": "Point", "coordinates": [gaming['offices'][0][0]['longitude'],gaming['offices'][0][0]['latitude']]}


geo_office = office_companies[["offices"]].apply(getGeoLocation, result_type="expand", axis=1)

In [ ]:
geonear(test.principal_office, 100000).count()

In [ ]:
df_clean = pd.concat([data_companies,geo_office], axis=1)[["principal_office"]]

In [ ]:
office_companies['geoDescription'] = df_clean

In [ ]:
office_companies.head()

In [ ]:

office_companies['category_code'].value_counts()

In [ ]:
office_companies['geo'] = office_companies['offices'].apply(geopoint)

In [ ]:
gaming

gaming

In [ ]:
gaming['offices'][0][0]['latitude']
gaming['offices'][0][0]['longitude']

#gaming['lat'] = gaming['offices'][0][0]['latitude']
#gaming['long'] = gaming['offices'][0][0]['longitude']

In [ ]:
import pandas as pd

def createGeoJson(office):
    return {
        "type":"Point",
        "coordinates":[office["long"],office["lat"]]
    }

df = pd.DataFrame(data)
df = df.fillna(0)
df['position'] = df.apply(createGeoJson, axis=1)
display(df.head())
df.shape

In [ ]:
#def geonear(geopoint, maxdistance=1000):
#    return db.prueba.find({
#        "principal_office":{
#            "$near":{
#                "$geometry":geopoint,
#                "$maxDistance":maxdistance
#            }}})