In [2]:
import pandas as pd
from pymongo import MongoClient
import re
import numpy as np

In [3]:
client = MongoClient("mongodb://localhost:27017/")

In [4]:
db = client.companies

In [5]:
colletion_companies = db.prueba

In [6]:
query = colletion_companies.find()

In [7]:
data = pd.DataFrame(query)

In [8]:
data.head()

,_id,name,category_code,number_of_employees,founded_year,description,total_money_raised,offices,longitud,latitude,position
0,5d8267a480ff16a56b015378,Zango,games_video,225,1999,,$40M,"[{'description': None, 'address1': '3600 136th...",-122.155668,47.579208,"{'type': 'Point', 'coordinates': [-122.155668,..."
1,5d8267a480ff16a56b015379,Realtime Worlds,games_video,225,2002,"Entertainment software, Videogames",$82.8M,"[{'description': None, 'address1': '', 'addres...",-2.968111,56.461428,"{'type': 'Point', 'coordinates': [-2.968111, 5..."
2,5d8267a480ff16a56b01537a,Ustream,games_video,250,2007,Live Social Video Community,$60.1M,"[{'description': 'San Francisco Office', 'addr...",-122.079480,37.392936,"{'type': 'Point', 'coordinates': [-122.07948, ..."
3,5d8267a480ff16a56b01537b,Modern Feed,games_video,123,2007,None,$3M,"[{'description': None, 'address1': '818 N. La ...",-118.343791,34.085749,"{'type': 'Point', 'coordinates': [-118.343791,..."
4,5d8267a480ff16a56b01537c,Kabam,games_video,650,2006,Leader in Gaming,$125M,"[{'description': 'HQ', 'address1': '795 Folsom...",-122.078531,37.394456,"{'type': 'Point', 'coordinates': [-122.0785314..."

In [9]:
data.shape

(21, 11)

In [10]:
def geonear(geopoint, maxdistance=1000):
   return db.prueba.find({
       "position":{
           "$near":{
               "$geometry":geopoint,
               "$maxDistance":maxdistance
           }}})

In [14]:
list(geonear(data['position'][0],25000))

[{'_id': ObjectId('5d8267a480ff16a56b015378'),
  'name': 'Zango',
  'category_code': 'games_video',
  'number_of_employees': 225,
  'founded_year': 1999,
  'description': '',
  'total_money_raised': '$40M',
  'offices': [{'description': None,
    'address1': '3600 136th Place SE',
    'address2': None,
    'zip_code': '98006',
    'city': 'Bellevue',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.579208,
    'longitude': -122.155668}],
  'longitud': -122.155668,
  'latitude': 47.579208,
  'position': {'type': 'Point', 'coordinates': [-122.155668, 47.579208]}},
 {'_id': ObjectId('5d8267a480ff16a56b01538c'),
  'name': 'Z2Live',
  'category_code': 'games_video',
  'number_of_employees': 130,
  'founded_year': 2009,
  'description': 'Mobile Games',
  'total_money_raised': '$6.5M',
  'offices': [{'description': 'Z2Live',
    'address1': '1601 2nd Ave',
    'address2': 'Suite 800',
    'zip_code': '98101',
    'city': 'Seattle',
    'state_code': 'WA',
    'country_code': 'USA',
    'latitude': 47.6103008,
    'longitude': -122.3399782}],
  'longitud': -122.3399782,
  'latitude': 47.6103008,
  'position': {'type': 'Point', 'coordinates': [-122.3399782, 47.6103008]}}]

In [ ]:
cercanas = len(list(geonear(data['position'][0],25000), for gearnear))